{% extends "layout.html" %}

{% block content %}


<section class="contact">

<h2>Contact Us</h2>

<p class="contact-intro">
For any queries, information, or academic support, feel free to connect with the Information Technology Department.
</p>

<!-- Contact Info -->
<h3>Contact Information</h3>
<ul class="contact-list">
    <li><strong>Email:</strong> itdepartment@college.edu</li>
    <li><strong>Phone:</strong> +91 981276345</li>
</ul>

<!-- Address -->
<h3>Department Address</h3>
<p class="contact-text">
 Rajiv Gandhi Proudyogiki Vishwavidyalaya (RGPV)<br>
Information Technology Department<br>
 Airport Road,Bhopal-462033, India
</p>

<!-- Office Hours -->
<h3>Office Hours</h3>
<p class="contact-text">
Monday – Friday: 11:00 AM – 4:00 PM
</p>

<!-- Support -->
<h3>Student Support</h3>
<p class="contact-text">
Students can reach out to faculty members during working hours for academic guidance,
project support, and technical assistance.
</p>

<!-- Quick Navigation -->
<h3>Quick Access</h3>
<p>
<a href="/about">About</a> |
<a href="/faculty">Faculty</a> |
<a href="/courses">Courses</a>|

</p>

<!-- Highlight Line -->
<p class="quote">
We are always open to support, guide, and connect with our students.
</p>

</section>


{% endblock %}
