{% extends "layout.html" %}

{% block title %}Courses{% endblock %}

{% block content %}

<h1 style="text-align:center;">Our Courses 🎓</h1>

<section class="cards">
    <div class="card">
        <h3>Web Development</h3>
        <p>HTML, CSS, JavaScript</p>
    </div>

    <div class="card">
        <h3>Python</h3>
        <p>Flask, Django basics</p>
    </div>

    <div class="card">
        <h3>Data Structures</h3>
        <p>Arrays, Linked List, Trees</p>
    </div>
</section>

{% endblock %}