{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">

<div class="bg-animation"></div>
<div class="blob blob1"></div>
<div class="blob blob2"></div>
<div class="blob blob3"></div>
<div class="overlay"></div>

<div class="form-container">
    <div class="form-box">
        <h1>Login</h1>

        <form method="POST">
            <input type="text" name="username" placeholder="Enter username" required>
            <input type="password" name="password" placeholder="Enter password" required>
            <button type="submit">Login</button>
        </form>
    </div>
</div>


<script src="{{ url_for('static', filename='auth.js') }}"></script>

{% endblock %}